* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  }
  
  body {
    background: url('Imagenes-index/IMG1.jpg') no-repeat;
    background-size: cover;
  }

header,footer{
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}
header{
    position:relative;
    height: 10vh;
}
header h1{
    position: absolute;
    margin-top: 20px;
    left: 5%;
}
footer{
    position: relative;
    height: 15vh;
    bottom: 0;
}
footer h4{
    position: relative;
    left: 20%;
    
}

.Navegacion{
    position: absolute;
    width: 100%;
}

.Navegacion a{
    position: relative;
    left: 90%;
    top:20px;
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.Seccion{
    width: 700px;
    background: rgba(0, 0, 0, .4);
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    margin-top: 4%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
    border-radius: 20px;  
}

.FotoPersonal {
    border-radius: 50%;
  }
  
  .Seccion h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    margin: 30px 0 20px;
  }
  
  .Seccion h3 {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    margin-bottom: 30px;
  }
  .Seccion h4{
    margin: 30px 0 10px;
  }
  .Seccion p {
    margin: 5px 0 5px;
    text-align: justify;
  }

.PaginasFavoritas{
    color: white;
    margin-top: 4%;
  }

  .PaginasFavoritas a{
    color: white;
    
  }